 # Required for pricing form
VITE_PRICING_FORM_ENDPOINT=https://script.google.com/macros/s/AKfycbwS3O8gBgRd_5t2x0iDFGvjQ13ZKlVah3IvVIHjiQxWThTTlu_cJEQXagwHRtrlx3yO/exec

# Contact form frontend (Vite)
VITE_CONTACT_API_BASE=expose-u.com

# Contact form backend (server/index.js)
CONTACT_API_PORT=8787
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=asoziallab@gmail.com
SMTP_PASS=kmlz krwy aedm ovlq
CONTACT_TO=asoziallab@gmail.com
CONTACT_FROM=asoziallab@gmail.com
